{{> overall_header }}

<p class="{{S_CONTENT_FLOW_END}} responsive-center time{{#if S_USER_LOGGED_IN}} rightside{{/if}}">{{#if S_USER_LOGGED_IN}}{{LAST_VISIT_DATE}}{{else}}{{CURRENT_TIME}}{{/if}}</p>
{{#if S_USER_LOGGED_IN}}<p class="responsive-center time">{{CURRENT_TIME}}</p>{{/if}}


{{#if U_MARK_FORUMS }}
	<div class="action-bar compact">
		<a href="{{U_MARK_FORUMS}}" class="mark-read rightside" accesskey="m" data-ajax="mark_forums_read">{{i18n "L_MARK_FORUMS_READ"}}</a>
	</div>
{{/if}}

{{> forumlist_body}}

{{#and (not S_USER_LOGGED_IN) (not S_IS_BOT)}}
	<form method="post" action="{{S_LOGIN_ACTION}}" class="headerspace">
	<h3><a href="{{U_LOGIN_LOGOUT}}">{{i18n "L_LOGIN"}}</a>{{#if S_REGISTER_ENABLED}}&nbsp; &bull; &nbsp;<a href="{{U_REGISTER}}">{{i18n "L_REGISTER"}}</a>{{/if}}</h3>
		<fieldset class="quick-login">
			<label for="username"><span>{{i18n "L_USERNAME"}}{{i18n "L_COLON"}}</span> <input type="text" tabindex="1" name="username" id="username" size="10" class="inputbox" title="{{i18n "L_USERNAME"}}" /></label>
			<label for="password"><span>{{i18n "L_PASSWORD"}}{{i18n "L_COLON"}}</span> <input type="password" tabindex="2" name="password" id="password" size="10" class="inputbox" title="{{i18n "L_PASSWORD"}}" autocomplete="off" /></label>
            {{#if U_SEND_PASSWORD }}
				<a href="{{U_SEND_PASSWORD}}">{{i18n "L_FORGOT_PASS"}}</a>
			{{/if}}
            {{#if S_AUTOLOGIN_ENABLED }}
				<span class="responsive-hide">|</span> <label for="autologin">{{i18n "L_LOG_ME_IN"}} <input type="checkbox" tabindex="4" name="autologin" id="autologin" /></label>
			{{/if}}
			<input type="submit" tabindex="5" name="login" value="{{i18n "L_LOGIN"}}" class="button2" />
			{{S_LOGIN_REDIRECT}}
		</fieldset>
	</form>
{{/and}}

{{#if S_DISPLAY_ONLINE_LIST}}
	<div class="stat-block online-list">
        {{#if U_VIEWONLINE }}<h3><a href="{{U_VIEWONLINE}}">{{i18n "L_WHO_IS_ONLINE"}}</a></h3>{{else}}<h3>{{i18n "L_WHO_IS_ONLINE"}}</h3>{{/if}}
		<p>
			{{TOTAL_USERS_ONLINE}} ({{i18n "L_ONLINE_EXPLAIN"}})<br />{{RECORD_USERS}}<br />
			{{#if U_VIEWONLINE }}
				<br />{{LOGGED_IN_USER_LIST}}
                {{#if LEGEND}}<br /><em>{{i18n "L_LEGEND"}}{{i18n "L_COLON"}} {{LEGEND}}</em>{{/if}}
			{{/if}}
		</p>
	</div>
{{/if}}

{{#if S_DISPLAY_BIRTHDAY_LIST}}
	<div class="stat-block birthday-list">
		<h3>{{i18n "L_BIRTHDAYS"}}</h3>
		<p>
			{{#if birthdays}}{{i18n "L_CONGRATULATIONS"}}{{i18n "L_COLON"}} <strong><!-- BEGIN birthdays -->{birthdays.USERNAME}<!-- IF birthdays.AGE !== '' --> ({birthdays.AGE})<!-- ENDIF --><!-- IF not birthdays.S_LAST_ROW -->, <!-- ENDIF --><!-- END birthdays --></strong><!-- ELSE -->{L_NO_BIRTHDAYS}{{/if}}
		</p>
	</div>
{{/if}}

{{#if NEWEST_USER}}
	<div class="stat-block statistics">
		<h3>{L_STATISTICS}</h3>
		<p>
			<!-- EVENT index_body_block_stats_prepend -->
			{TOTAL_POSTS} &bull; {TOTAL_TOPICS} &bull; {TOTAL_USERS} &bull; {NEWEST_USER}
			<!-- EVENT index_body_block_stats_append -->
		</p>
	</div>
{{/if}}

{{> overall_footer }}