<form id="{{#if FORM_ID}}{{FORM_ID}}{{else}}install_install{{/if}}" method="POST" action="{{U_ACTION}}">
{{#if options}}
{{#if (not S_NOT_ONLY_BUTTON_FORM)}}
<fieldset>
{{/if}}

	{{#each options}}
		{{#if S_LEGEND}}
			{{#if (not S_FIRST_ROW)}}
			</fieldset>

			<fieldset>
			{{/if}}
			<legend>{{LEGEND}}</legend>
		{{else}}
		<dl>
			{{#if TITLE}}<dt><label for="{{KEY}}">{{TITLE}}{{i18n "L_COLON"}}</label>{{#if S_EXPLAIN }}<br /><span class="explain">{{TITLE_EXPLAIN}}</span>{{/if}}</dt>{{/if}}
			<dd>
				<input type="{{TYPE}}" name="{{KEY}}" value="{{DEFAULT}}" />
			</dd>
		</dl>
		{{/if}}
	{{/each}}
{{#if (not S_NOT_ONLY_BUTTON_FORM)}}
</fieldset>
{{/if}}
{{/if}}
{{#if submit_buttons}}

	<fieldset class="submit-buttons">
		<legend>{{L_SUBMIT}}</legend>
		{{#each submit_buttons}}
			<input class="button1" type="submit" name="{{KEY}}" value="{{TITLE}}" />
		{{/each}}
	</fieldset>
{{/if}}
</form>
