

<div id="wrap" class="wrap">
    <a id="top" class="top-anchor" accesskey="t"></a>

    <div id="page-header">
        <div class="headerbar" role="banner">
            <!-- EVENT overall_header_headerbar_before -->
            <div class="inner">
                <div id="site-description" class="site-description">
                    <a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"><span class="site_logo"></span></a>
                    <h1>{{SITENAME}}</h1>
                    <p>{{SITE_DESCRIPTION}}</p>
                    <p class="skiplink"><a href="#start_here">{{i18n.COMMON.SKIP}}</a></p>
                </div>
                <!-- EVENT overall_header_searchbox_before -->
                <!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
                <div id="search-box" class="search-box search-header" role="search">
                    <form action="{U_SEARCH}" method="get" id="search">
                        <fieldset>
                            <input name="keywords" id="keywords" type="search" maxlength="128" title="{{i18n.COMMON.SEARCH_KEYWORDS
}}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{{i18n.COMMON.SEARCH_MINI}}" />
                            <button class="button button-search" type="submit" title="{{i18n.COMMON.SEARCH}}">
                                <i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{i18n.COMMON.SEARCH}}</span>
                            </button>
                            <a href="{U_SEARCH}" class="button button-search-end" title="{{i18n.COMMON.SEARCH_ADV}}">
                                <i class="icon fa-cog fa-fw" aria-hidden="true"></i><span class="sr-only">{{i18n.COMMON.SEARCH_ADV}}</span>
                            </a>
                            {S_SEARCH_HIDDEN_FIELDS}
                        </fieldset>
                    </form>
                </div>
                <!-- ENDIF -->
                <!-- EVENT overall_header_searchbox_after -->
            </div>
            <!-- EVENT overall_header_headerbar_after -->
        </div>
        <!-- EVENT overall_header_navbar_before -->
        <!-- INCLUDE navbar_header.html -->
    </div>

    <!-- EVENT overall_header_page_body_before -->

    <a id="start_here" class="anchor"></a>
    <div id="page-body" class="page-body" role="main">
        <!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
        <div id="information" class="rules">
            <div class="inner">
                <strong>{{i18n.COMMON.INFORMATION}}{{i18n.COMMON.COLON}}</strong> {{i18n.COMMON.BOARD_DISABLED}}
            </div>
        </div>
        <!-- ENDIF -->
        <!-- EVENT overall_header_content_before -->
